<p>Hi <%= @review.user.username %>, <br/>
 Your review has been confirmed </p>

 	<ul>
		<li>
			<p> BODY: <%= @review.body %> </p>
			<p> RATING:<%= @review.rating %> </p>
		</li>	
	</ul>
<b>Thank you for placing reviewing the product with us</b>
